@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
}

.navBg {
    background-color: #f4621b;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu-toggle,
.hamburger {
    display: none;
}

.herosectionBg {
    background-color: #f3f3f3;
}

.containerMain {
    max-width: 1200px;
    margin: 0 auto;
}

.p-5 {
    padding: 5%;
}

.py-5 {
    padding: 5% 0%;
}

.px-5 {
    padding: 0% 5%;
}

.heroContentDiv {
    flex: 365px 0 0;
}

.mainHead {
    margin-bottom: 5%;
}

.orangecolor {
    color: #f86925;
}

.di-grid {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 25px;
}

.featureheader {
    margin: 0% auto;
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.txtcontentSub{
    margin-top: 2.5%;
}

.di-grid img{width: 70px;}

.di-grid > div{
    border:0.5px solid #eee;
    border-radius: 8px;
    box-shadow: 5px 1px 0px 0px #edeef2;
    padding: 6% 15%;
    background-color: #fff;
}

.featureBg{
    background-color: #edeef2;
}


@media screen and (max-width: 768px) {
    .navbar {
        position: relative;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    .nav-links {
        flex-direction: column;
        gap: 15px;
        background-color: #f86925;
        width: 100%;
        padding: 20px;
        position: absolute;
        top: 100%;
        right: 0;
        text-align: right;
        transform: translateY(-150%);
        opacity: 0;
        transition: transform 0.4s ease, opacity 0.3s ease;
        z-index: -1;
    }

    .menu-toggle:checked~.nav-links {
        transform: translateY(0);
        opacity: 1;
        z-index: 1;
    }

    .menu-toggle:checked~.hamburger .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }

    .menu-toggle:checked~.hamburger .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked~.hamburger .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -6px);
    }

    .d-flexcolumnMob {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .heroimgDiv img{
        width:100%;
    }
}

@media screen and (min-width: 769px) {
    .mainHead2 {
        font-size: 3rem;
    }

    .d-flexrow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .di-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .di-grid {
        grid-template-columns: 1fr 1fr;
    }
}